name: 'coverage'
on:
  pull_request:
    branches:
      - master
jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - uses: artiomtr/jest-coverage-report-action@v1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          threshold: 75